<div class="flex items-center justify-center w-screen">


  <div class="flex flex-col items-center justify-center mt-20 bg-white shadow-lg rounded-lg
pb-2 w-[95%]">
    <button class="btn btn-primary text-white mt-4" onclick="modal_1.showModal()">Create Ticket</button>
    <form [formGroup]="searchTicketForm" (ngSubmit)="searchTickets()" class=" p-4">
      <div class="flex flex-wrap items-center justify-center gap-4 py-3">
        <div class="flex flex-col">
          <label for="ticketId" class="block text-sm font-medium text-gray-700">Ticket ID</label>
          <input id="ticketId" formControlName="ticketId" type="number" class="input input-bordered w-full mt-1">
        </div>
        <div class="flex flex-col">
          <label for="customerId" class="block text-sm font-medium text-gray-700">Customer ID</label>
          <input id="customerId" formControlName="customerId" type="number" class="input input-bordered w-full mt-1">
        </div>
        <div class="flex flex-col">
          <label for="customerEmail" class="block text-sm font-medium text-gray-700">Customer Email</label>
          <input id="customerEmail" formControlName="customerEmail" type="email"
                 class="input input-bordered w-full mt-1">
        </div>

        <div class="flex flex-col">
          <label for="customerPhone" class="block text-sm font-medium text-gray-700">Customer Phone</label>
          <input id="customerPhone" formControlName="customerPhone" type="text"
                 class="input input-bordered w-full mt-1">
        </div>

        <div class="flex flex-col">
          <label for="content" class="block text-sm font-medium text-gray-700">Content</label>
          <input id="content" formControlName="content" type="text" class="input input-bordered w-full mt-1">
        </div>

        <div class="flex flex-col">
          <label for="channel">Channel</label>
          <select id="channel" formControlName="channel" class="input input-bordered w-full mt-1">
            <option value="" selected></option>
            <option *ngFor="let channel of channels" [value]="channel">{{ channel }}</option>
          </select>
        </div>

        <div class="flex flex-col">
          <label for="categoryId" class="block text-sm font-medium text-gray-700">Category</label>
          <select id="categoryId" formControlName="categoryId" class="input input-bordered w-full mt-1"
                  (change)="categoryChanged()">
            <option value="" selected></option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>

        <div class="flex flex-col">
          <label for="subcategoryId" class="block text-sm font-medium text-gray-700">Subcategory</label>
          <select id="subcategoryId" formControlName="subcategoryId" class="input input-bordered w-full mt-1">
            <option value="" selected></option>
            <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{ subcategory.name }}</option>
          </select>
        </div>


        <div>
          <label for="priority">Priority</label>
          <select id="priority" formControlName="priority" class="input input-bordered w-full mt-1">
            <option *ngFor="let priority of priorities" [value]="priority">{{ priority }}</option>
          </select>
        </div>
        <div class="flex flex-col">
          <label for="openedById" class="block text-sm font-medium text-gray-700">Opened By</label>
          <select id="openedById" formControlName="openedById" class="input input-bordered w-full mt-1">
            <option value="" selected></option>
            <option *ngFor="let user of users"
                    [value]="user.id">{{ user.firstName }} {{ user.lastName }} {{ user.email }}
            </option>
          </select>
        </div>

        <div class="flex flex-col">
          <label for="closedById" class="block text-sm font-medium text-gray-700">Closed By</label>
          <select id="closedById" formControlName="closedById" class="input input-bordered w-full mt-1">
            <option value="" selected></option>
            <option *ngFor="let user of users"
                    [value]="user.id">{{ user.firstName }} {{ user.lastName }} {{ user.email }}
            </option>
          </select>
        </div>

        <div>
          <label for="createdAfter" class="block text-sm font-medium text-gray-700">Created After</label>
          <input id="createdAfter" formControlName="createdAfter" type="date"
                 class="input input-bordered w-full mt-1">
        </div>

        <div>
          <label for="createdBefore" class="block text-sm font-medium text-gray-700">Created Before</label>
          <input id="createdBefore" formControlName="createdBefore" type="date"
                 class="input input-bordered w-full mt-1">
        </div>


        <div class="flex flex-col">
          <label for="isOpen" class="block text-sm font-medium text-gray-700">Open</label>
          <select id="isOpen" formControlName="isOpen" class="input input-bordered w-full mt-1">
            <option value="" selected></option>
            <option [value]="true">
              Yes
            </option>
            <option [value]="false">
              No
            </option>
          </select>
        </div>

        <div class="flex flex-col">
          <label for="isFollowed" class="block text-sm font-medium text-gray-700">Followed</label>
          <select id="isFollowed" formControlName="isFollowed" class="input input-bordered w-full mt-1">
            <option value="" selected></option>
            <option [value]="true">
              Yes
            </option>
            <option [value]="false">
              No
            </option>
          </select>
        </div>

      </div>

      <button type="submit" class="btn btn-primary text-white mt-4">Search</button>
      <button type="button" class="btn btn-warning mt-4 ml-2" (click)="clearForm()">Clear</button>
    </form>

    <div class="overflow-x-auto w-[99%] px-2">
      <table class="table table-xs px-2">
        <thead>
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Content</th>
          <th>Channel</th>
          <th>Category</th>
          <th>Subcategory</th>
          <th>Priority</th>
          <th>Is Open</th>
          <th>Is Followed</th>
          <th>Opened By</th>
          <th>Closed By</th>
          <th>Created At</th>
          <th>Closed At</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ticket of tickets">
          <td>{{ ticket.id }}</td>
          <td>{{ ticket.customer.firstName }} {{ ticket.customer.lastName }}</td>
          <td *ngIf="ticket.content.length<30">{{ ticket.content }}</td>
          <td *ngIf="ticket.content.length>=30">{{ ticket.content.slice(0, 30) }}...</td>
          <td>{{ ticket.channel }}</td>
          <td>{{ ticket.category?.name }}</td>
          <td>{{ ticket.subcategory?.name }}</td>
          <td>{{ ticket.priority }}</td>
          <td>{{ ticket.isOpen ? '✅' : '❌' }}</td>
          <td>{{ ticket.isFollowed ? '✅' : '❌' }}</td>
          <td>{{ ticket.openedBy?.firstName }} {{ ticket.openedBy?.lastName }}</td>
          <td>{{ ticket.closedBy?.firstName }} {{ ticket.closedBy?.lastName }}</td>
          <td>{{ ticket.createdAt | date:'short' }}</td>
          <td>{{ ticket.closedAt | date:'short' }}</td>
          <td class="flex items-center justify-center gap-3">
            <button class="btn btn-sm" [routerLink]="['/tickets', ticket.id]">🔍</button>
            <button class="btn btn-sm" (click)="openTicketDetails(ticket)">🧭</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="join mt-10" *ngIf="tickets.length>0">
      <button class="join-item btn" (click)="previousPage()" *ngIf="pageNumber > 0">«</button>
      <button class="join-item btn">Page {{ pageNumber + 1 }}/{{ allPages }}</button>
      <button class="join-item btn" (click)="nextPage()" *ngIf="!last">»</button>
    </div>
  </div>


</div>
<dialog id="modal_1" class="modal" #modal_1>
  <div class="modal-box max-w-screen-xl p-5">
    <div class="py-4 w-full">
      <form [formGroup]="createTicketForm" (ngSubmit)="createTicket()" class="p-4">

        <div class="flex items-center justify-start gap-3 mb-4 w-full">
          <div class="flex items-center justify-center gap-3">
            <div class="flex items-center justify-center gap-1 mr-1">
              <div class="font-medium text-gray-700">Customer:</div>
              <img *ngIf="selectedCustomer" src="user.png" class="w-7 h-7">
            </div>
            <div *ngIf="selectedCustomer"
                 class="flex items-center justify-center gap-1">{{ selectedCustomer.firstName }} {{ selectedCustomer.lastName }}
            </div>
            <button class="btn btn-primary btn-sm text-white " onclick="modal_2.showModal()">Select Customer</button>
          </div>
          <div class="flex items-center justify-start gap-2 flex-wrap w-full px-4">
            <div class="flex flex-col items-center justify-center mb-2">
              <label for="channel" class="block text-sm font-medium text-gray-700">Channel:</label>
              <select formControlName="channel" required class="input input-bordered mt-1 w-[200px]">
                <option *ngFor="let channel of channels" [value]="channel">{{ channel }}</option>
              </select>
            </div>
            <div class="flex flex-col items-center justify-center mb-2">
              <label for="priority" class="block text-sm font-medium text-gray-700">Priority:</label>
              <select formControlName="priority" required class="input input-bordered mt-1 w-[200px]">
                <option *ngFor="let priority of priorities" [value]="priority">{{ priority }}</option>
              </select>
            </div>

            <div class="flex flex-col items-center justify-center mb-2">
              <label for="categoryId" class="block text-sm font-medium text-gray-700">Category</label>
              <select formControlName="categoryId" class="input input-bordered  mt-1 w-[200px]"
                      (change)="categoryCreateChanged()">
                <option value="" selected></option>
                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
              </select>
            </div>


            <div class="flex flex-col items-center justify-start mb-2">
              <label for="subcategoryId" class="block text-sm font-medium text-gray-700">Subcategory</label>
              <select formControlName="subcategoryId" required class="input input-bordered mt-1 w-[200px]">
                <option *ngFor="let subcategory of subcategoriesCreate" [value]="subcategory.id">{{ subcategory.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="flex flex-col mb-4">
          <label for="content" class="block text-sm font-medium text-gray-700">Content:</label>
          <textarea formControlName="content" required class="input input-bordered mt-1 h-44 p-1"></textarea>
        </div>
        <button type="submit" [disabled]="createTicketForm.invalid" class="btn btn-primary text-white mt-4">Create
          Ticket
        </button>
      </form>
    </div>
    <div class="modal-action">

      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>

<dialog id="modal_2" class="modal" #modal_2>
  <div class="modal-box max-w-screen-2xl bg-white">
    <div class="py-4 w-full">
      <app-customers-select (selectedCustomer)="setCustomer($event)"></app-customers-select>
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
