<ngx-sonner-toaster richColors position="top-right"/>
<div
  class="flex flex-col items-center justify-center overflow-x-hidden overflow-y-hidden"
>
  <div
    class="flex items-center justify-start w-full h-12 p-3 fixed top-0 bg-white z-50"
  >
    <div>
      <a routerLink="/dashboard" class="text-xl font-bold text-black"
      >TSystem</a
      >
      <div class="indicator">
        <span
          class="indicator-item badge badge-sm badge-ghost bg-transparent border-none -right-1 top-1 font-semibold">{{ unreadNotifications }}</span>
        <a routerLink="/dashboard" class="ml-4 text-green-400  text">Dashboard</a>
      </div>

      <a routerLink="/departments" class="ml-4 text-blue-500">Departments</a>
      <a routerLink="/customers" class="ml-4 text-blue-500">Customers</a>
      <a routerLink="/tickets" class="ml-4 text-blue-500 ">Tickets</a>

      <a routerLink="/tickets" *ngIf="userLoggedIn" class="ml-4  text-gray-400 text">Admin Panel</a>

    </div>

    <div class="ml-auto mr-6" *ngIf="!userLoggedIn">
      <a routerLink="/login" class="ml-4 text-blue-500">Login</a>
      <a routerLink="/register" class="ml-4 text-blue-500">Register</a>
    </div>
    <div class="ml-auto" *ngIf="userLoggedIn">
      <a routerLink="/logout" class="ml-4 text-red-500 text-xs">🔴logout</a>
      <a routerLink="/profile" class=" text-blue-500 ">{{ user.firstName }} {{ user.lastName }}</a>
    </div>

  </div>

  <router-outlet class=""></router-outlet>
</div>
