<div class="grid grid-cols-4 grid-rows-3 gap-3 w-[90vw] h-[91vh] mt-12 p-2" *ngIf="stats">
  <div class="col-start-1 col-end-3 row-start-1 row-end-2 p-4 bg-white rounded-xl shadow-sm ">
    <div class="font-semibold text-xl mb-2">TOTAL:</div>
    <div class="flex items-center justify-center gap-1">
      <div class="font-semibold">Total Tickets:</div>
      {{ stats.totalTickets }}
    </div>
    <div class="flex items-center justify-center gap-1">
      <div class="font-semibold">Opened Today:</div>
      {{ stats.openedToday }}
    </div>
    <div class="flex items-center justify-center gap-1">
      <div class="font-semibold">Closed Today:</div>
      {{ stats.closedToday }}
    </div>
  </div>
  <div class="col-start-3 col-end-5 row-start-1 row-end-2 p-4 bg-white rounded-xl shadow-sm ">
    <div class="font-semibold text-xl mb-2">MY:</div>
    <div class="flex items-center justify-center gap-1">
      <div class="font-semibold">Open Today:</div>
      {{ stats.openedTodayUser }}
    </div>
    <div class="flex items-center justify-center gap-1">
      <div class="font-semibold">Closed Today:</div>
      {{ stats.closedTodayUser }}
    </div>
    <div class="flex items-center justify-center gap-1">
      <div class="font-semibold">Commented On Today:</div>
      {{ stats.commentedTodayUser }}
    </div>
    <div class="flex items-center justify-center gap-1">
      <div class="font-semibold">Open Followed:</div>
      {{ stats.openFollowed }}
    </div>
  </div>

  <div
    class="col-start-1 col-end-5 row-start-2 row-end-4 bg-white rounded-xl flex flex-col items-center justify-start w-full shadow-sm">
    <div class="flex items-center justify-center gap-5">
      <div class="mr-6"></div>
      <div class="my-2 font-semibold">Notifications</div>
      <div class="flex items-center justify-center gap-2">
        <input type="checkbox" [(ngModel)]="onlyUnread" (ngModelChange)="onOnlyUnreadChange()"
               class="checkbox checkbox-sm"/>
        <label class="text-sm">Only Unread</label>
      </div>
    </div>


    <div class="overflow-x-auto w-full">
      <table class="table table-md w-full table-pin-rows table-pin-cols">

        <tbody class="w-full">
        <tr *ngFor="let notification of notifications"
            class="w-full"
            [ngClass]="{'bg-white': notification.isRead, 'bg-gray-100': !notification.isRead}">
          <th [ngClass]="{
            'bg-white': notification.isRead,
            'bg-gray-100': !notification.isRead,
            'font-semibold': !notification.isRead,
            'font-normal': notification.isRead
          }">
            {{ convertToNiceName(notification.type, notification.contentId) }}
          </th>
          <td>{{ convertToNiceDate(notification.createdAt) }}</td>
          <td (click)="navigateToContent(notification)" class="cursor-pointer">🔍</td>
        </tr>
        <tr *ngIf="!last">
          <td></td>
          <td>
            <div class="btn btn-sm" (click)="loadMoreNotifications()">load more</div>
          </td>
          <td></td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
