<div class="grid grid-cols-4 grid-rows-3 gap-3 w-[90vw] h-[90vh] mt-20">
  <div class="col-start-1 col-end-2 row-start-1 row-end-2 p-4 bg-white rounded-xl shadow-xl">
    <div class="font-semibold text-xl mb-2">TOTAL:</div>
  </div>
  <div class="col-start-2 col-end-3 row-start-1 row-end-2 p-4 bg-white rounded-xl shadow-xl">
    <div class="font-semibold text-xl mb-2">MY:</div>
  </div>
  <div
    class="col-start-1 col-end-5 row-start-2 row-end-4 p-4 bg-white rounded-xl shadow-xl flex flex-col items-center justify-start">

    <div class="flex items-center justify-center">
      <div class="font-semibold text-xl mb-1">Followed Open Tickets:</div>
      <label class="label cursor-pointer flex gap-2 items-center">
        <span class="label-text">Oldest</span>
        <input
          type="checkbox"
          class="toggle border-blue-500 bg-blue-500 [--tglbg:white] hover:bg-blue-700"
          [(ngModel)]="dateDesc"
          (ngModelChange)="onSortChange()"
        />
        <span class="label-text">Newest</span>
      </label>
    </div>
    <div class="overflow-x-auto w-[99%] px-2">
      <table class="table table-xs px-2">
        <thead>
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Content</th>
          <th>Channel</th>
          <th>Category</th>
          <th>Subcategory</th>
          <th>Priority</th>
          <th>Is Open</th>
          <th>Opened By</th>
          <th>Closed By</th>
          <th>Created At</th>
          <th>Closed At</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ticket of followedTickets">
          <td>{{ ticket.id }}</td>
          <td>{{ ticket.customer.firstName }} {{ ticket.customer.lastName }}</td>
          <td>{{ ticket.content }}</td>
          <td>{{ ticket.channel }}</td>
          <td>{{ ticket.category?.name }}</td>
          <td>{{ ticket.subcategory?.name }}</td>
          <td>{{ ticket.priority }}</td>
          <td>{{ ticket.isOpen ? '✅' : '❌' }}</td>
          <td>{{ ticket.openedBy?.firstName }} {{ ticket.openedBy?.lastName }}</td>
          <td>{{ ticket.closedBy?.firstName }} {{ ticket.closedBy?.lastName }}</td>
          <td>{{ ticket.createdAt | date:'short' }}</td>
          <td>{{ ticket.closedAt | date:'short' }}</td>
          <td class="flex items-center justify-center gap-3">
            <button class="btn btn-sm" [routerLink]="['/tickets', ticket.id]">🔍</button>
            <button class="btn btn-sm" (click)="openTicketDetails(ticket)">🧭</button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="join mt-10" *ngIf="followedTickets.length>0">
      <button class="join-item btn" (click)="previousPage()" *ngIf="this.pageNumber > 0">«</button>
      <button class="join-item btn">Page {{ pageNumber + 1 }}/{{ allPages }}</button>
      <button class="join-item btn" *ngIf="!last" (click)="nextPage()">»</button>
    </div>
  </div>

</div>
