<div class="grid grid-cols-8 gap-3  w-[100vw] mt-20 p-10" *ngIf="ticket">
  <div class="flex items-center justify-center col-start-1 col-end-9 row-start-1 row-end-2">
    <div class="flex items-stretch justify-center  bg-white shadow-xl">
      <div class="flex flex-col items-start justify-center  border-[2px] border-r-0 p-4 pt-2">
        <div class="font-semibold">Customer:</div>
        <div>{{ ticket.customer.firstName }} {{ ticket.customer.lastName }}</div>
        <div>{{ ticket.customer.email }}</div>
        <div>{{ ticket.customer.phone }}</div>
      </div>
      <div class="flex flex-col items-start justify-center border-[2px] border-r-0 p-4 pt-2 ">
        <div class="font-semibold">Opened by:</div>
        <div>{{ ticket.openedBy.firstName }} {{ ticket.openedBy.lastName }}</div>
        <div>{{ ticket.openedBy.email }}</div>
        <div>{{ ticket.createdAt | date: 'mediumDate' }}</div>
        <div>{{ ticket.channel.name }}</div>
      </div>
      <div *ngIf="ticket.closedAt" class="flex flex-col items-start justify-center border-[2px] border-r-0 p-4 pt-2 ">
        <div class="font-semibold">Closed by:</div>
        <div>{{ ticket.closedBy?.firstName }} {{ ticket.closedBy?.lastName }}</div>
        <div>{{ ticket.closedBy?.email }}</div>
        <div>{{ ticket?.closedAt }}</div>
      </div>
      <div class="flex flex-col items-start justify-center border-[2px] border-r-0 p-4 pt-2 ">
        <div class="font-semibold">Ticket #{{ ticket.id }}</div>
        <div class="font-semibold">Category: {{ ticket.category.name }} - {{ ticket.subcategory.name }}</div>
        <div [ngClass]="getPriorityClass(ticket.priority)">
          Priority: {{ ticket.priority }}
        </div>
        <div *ngIf="!ticket.closedAt">
          Open since {{ ticket.createdAt | date: 'mediumDate' }} ({{ getOpenedSince() }} days)
        </div>
        <div *ngIf="ticket.closedAt">
          Closed since {{ ticket.closedAt | date: 'mediumDate' }} ({{ getClosedSince() }} days)
        </div>
      </div>
      <div class="flex flex-col items-stretch border-[2px] p-4 pt-2 grow]">
        <div>{{ ticket.content }}</div>
      </div>
    </div>

  </div>

  <div class="flex justify-start col-start-1 col-end-3 row-start-2 w-full">
    <div class="flex flex-col gap-2 w-full">
      <button class="btn btn-primary text-white" onclick="new_comment_modal.showModal()">New comment</button>
      <div class="flex gap-1 w-full items-center justify-center">
        <button class="btn btn-primary text-white w-[49%]" *ngIf="!ticket.isFollowed" (click)="follow()">Follow</button>
        <button class="btn btn-primary text-white w-[49%]" *ngIf="ticket.isFollowed" (click)="unfollow()">Unfollow
        </button>
        <button class="btn btn-primary text-white w-[49%]" onclick="assign_to_modal.showModal()" (click)="getUsers()">
          Assign
        </button>
      </div>
      <button class="btn btn-primary text-white">Email client</button>
      <button class="btn btn-warning text-white">Change Category</button>
      <button class="btn btn-error text-white">Close</button>

      <div class="overflow-x-auto">
        <div class="text-center font-semibold italic mb-2">Followers:</div>
        <table class="table table-xs table-pin-rows table-pin-cols">
          <thead>
          <tr>
            <th>id</th>
            <td>Full Name</td>
            <td>email</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let follower of followers">
            <th>{{ follower.id }}</th>
            <td>{{ follower.firstName }} {{ follower.lastName }}</td>
            <td>{{ follower.email }}</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class=" col-start-3 col-end-9 row-start-2 w-full">
    <ul class="flex flex-col items-center justify-start gap-2 w-full">
      <li *ngFor="let comment of comments" class="flex flex-col gap-2 border-[2px] bg-white p-4 py-2 w-full ">
        <div class="flex items-center justify-between gap-2">
          <div
            class="font-semibold">{{ comment.author.firstName }} {{ comment.author.lastName }} {{ comment.author.email }}
          </div>
          <div>{{ comment.createdAt | date: 'medium' }}</div>
        </div>
        <div>{{ comment.content }}</div>
      </li>
      <li *ngIf="!last">
        <button class="btn btn-primary text-white" (click)="loadMore()">Load more</button>
      </li>
    </ul>
  </div>
</div>


<dialog id="new_comment_modal" class="modal" #new_comment_modal>
  <div class="modal-box max-w-screen-md bg-white">
    <div class="py-4 w-full">
      <textarea
        placeholder="New comment..."
        class="textarea textarea-bordered textarea-md w-full " [(ngModel)]="newCommentContent"></textarea>
    </div>
    <div class="modal-action">
      <button class="btn btn-primary text-white" (click)="addComment()">Add</button>
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>

<dialog id="assign_to_modal" class="modal" #assign_to_modal>
  <div class="modal-box max-w-screen-md bg-white">
    <div class="py-4 w-full">
      <select class="select select-bordered select-lg w-full" [(ngModel)]="newFollowerId">
        <option *ngFor="let user of displayedUsers" [value]="user.id">{{ user.firstName }} {{ user.lastName }}</option>
      </select>
    </div>
    <div class="modal-action">
      <button class="btn btn-primary text-white" (click)="followForOtherUser()">Add</button>
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
