<div class="flex flex-col items-center justify-start gap-3 flex-wrap mt-20 h-[90vh]">
  <button class="btn btn-primary btn-sm text-white" onclick="add_new_department_modal.showModal()">Add new Department
  </button>
  <div *ngFor="let department of departments" class="p-3 bg-white rounded-xl shadow-xl hover:shadow-md  cursor-pointer">
    <div [routerLink]="['./', department.id]" class="flex flex-col items-center justify-start gap-2">
      <div class="font-semibold text-center">
        {{ department.name }}
      </div>
      <ul>
        <li *ngFor="let subcategory of department.subcategories">
          {{ subcategory.category.name }} - {{ subcategory.name }}
        </li>
      </ul>
    </div>
  </div>
</div>

<dialog id="add_new_department_modal" class="modal">
  <div class="modal-box">
    <div class="py-4 w-full">
      <form [formGroup]="addNewDepartmentForm" (ngSubmit)="addNewDepartment()" class="p-4 w-full">
        <div class="flex flex-col items-center justify-center gap-1 py-3">
          <div class="">
            <div class="">
              <label for="name" class="block text-sm font-medium text-gray-700">Department Name</label>
              <input formControlName="name" type="text" id="name"
                     class="input input-bordered w-full mt-1">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-action">
      <button type="submit" class="mr-1 btn btn-primary text-white" [disabled]="addNewDepartmentForm.invalid"
              (click)="addNewDepartment()">Add
      </button>
      <form method="dialog">

        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>


