<div class="flex  items-start justify-center gap-5 flex-wrap mt-10 h-[91vh]">
  <div class="flex flex-col items-center justify-center">
    <button class="btn btn-primary btn-sm text-white mt-5" onclick="add_new_department_modal.showModal()">
      Add new Department
    </button>
    <div class="join mt-2" *ngIf="departments.length>0">
      <button class="join-item btn" (click)="previousPage()" *ngIf="pageNumber > 0">«</button>
      <button class="join-item btn">Page {{ pageNumber + 1 }}/{{ allPages }}</button>
      <button class="join-item btn" (click)="nextPage()" *ngIf="!last">»</button>
    </div>
  </div>

  <div class="overflow-x-auto  h-full pb-10 mt-6">
    <table class="table table-xs table-pin-rows table-pin-cols">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Categories</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let department of departments" [routerLink]="['./', department.id]" class="cursor-pointer">
        <th>{{department.id}}</th>
        <td>{{ department.name }}</td>
        <td *ngIf="department.subcategories.length>0">
          {{department.subcategories[0].category.name}} - {{department.subcategories[0].name}}
          <div class="lg:tooltip" data-tip="hello">
            <div class="" *ngFor="let subcategory of department.subcategories">{{ subcategory.category.name }} - {{ subcategory.name }}</div>
          </div>
        </td>
        <td></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<dialog id="add_new_department_modal" class="modal">
  <div class="modal-box">
    <div class="py-4 w-full">
      <form [formGroup]="addNewDepartmentForm" (ngSubmit)="addNewDepartment()" class="p-4 w-full">
        <div class="flex flex-col items-center justify-center gap-1 py-3">
          <div class="">
            <div class="">
              <label for="name" class="block text-sm font-medium text-gray-700">Department Name</label>
              <input formControlName="name" type="text" id="name"
                     class="input input-bordered w-full mt-1">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-action">
      <button type="submit" class="mr-1 btn btn-primary text-white" [disabled]="addNewDepartmentForm.invalid"
              (click)="addNewDepartment()">Add
      </button>
      <form method="dialog">

        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>

